<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[miaplus]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('miaplus_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em><b><font color=green><%:Internet Access Schedule Control Plus%> <%:RUNNING%></font></b></em>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em><b><font color=red><%:Internet Access Schedule Control Plus%> <%:NOT RUNNING%></font></b></em>';
			}
		}
	}
);

function updateDynamicMAC() {
	XHR.get('<%=url([[admin]], [[services]], [[miaplus]], [[update_dynamic_mac]])%>', null,
		function(x, data) {
			if (data && data.result) {
				alert('<%:Dynamic MAC update completed%>: ' + data.result);
			}
		}
	);
}
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="miaplus_status">
		<em><%:Collecting data...%></em>
	</p>
	<div style="margin-top: 10px;">
		<input type="button" value="<%:Update Dynamic MAC%>" onclick="updateDynamicMAC()" class="btn cbi-button" />
	</div>
</fieldset>
